@using EDiary.Common
@using EDiary.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model EDiary.Web.ViewModels.Common.Schools.OutputViewModels.SchoolDetailsViewModel
@{
    ViewData["Title"] = $"{Model.Name}";
}

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <h1 class="text-center">@Model.Name</h1>
}
else
{
    <h1 class="text-center">My school</h1>
}

<hr class="my-4" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@Model.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Model.Name</h5>
                    <span>@Model.City</span>
                    <p class="card-text">@Model.Address</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a asp-area="" asp-controller="Subjects" asp-action="All" asp-route-id="@Model.Id">Subjects</a></li>
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.IsInRole(GlobalConstants.PrincipalRoleName))
                    {
                        <li class="list-group-item"><a asp-area="" asp-controller="Users" asp-action="Search" asp-route-id="@Model.Id">Classes</a></li>
                    }
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <li class="list-group-item"><a asp-area="Administration" asp-controller="SubjectsClasses" asp-action="AddSubjectToClass" asp-route-id="@Model.Id">Add subject to class</a></li>
                        <li class="list-group-item"><a asp-area="Administration" asp-controller="Users" asp-action="Create" asp-route-id="@Model.Id">Add new user</a></li>
                    }
                    @if (this.User.IsInRole(GlobalConstants.TeacherRoleName))
                    {
                        <li class="list-group-item"><a asp-area="" asp-controller="SubjectsClassesTeachers" asp-action="MySubjects">My subject classes</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <blockquote class="blockquote text-center">
                    <p class="mb-0">“Education is our passport to the future, for tomorrow belongs to the people who prepare for it today.”</p>
                    <footer class="blockquote-footer"><cite title="Source Title">Malcolm X</cite></footer>
                </blockquote>
            </div>
            <div>
                <img src="https://res.cloudinary.com/dzheivzqv/image/upload/v1603399618/EDiary/schoolDetails_wujo2p.jpg" class="img-fluid" alt="@Model.Name" />
            </div>
        </div>
    </div>
</div>