@model EDiary.Web.ViewModels.Teachers.SubjectsClassesTeachers.OutputViewModels.AllSubjectsClassesTeachersViewModel
@{
    ViewData["Title"] = "My subjects";
}

<h2 class="text-center">My subjects</h2>

<hr />

<div class="row">
    @foreach (var subjectClass in Model.SubjectClasses)
    {
        <div class="card mr-2" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@subjectClass.SubjectClassSubjectName</h5>
                <h6 class="card-subtitle mb-2 text-muted">@(subjectClass.TeacherFirstName + ' ' + subjectClass.TeacherLastName)</h6>
                <p class="card-text">Class: @subjectClass.SubjectClassClass @subjectClass.SubjectClassTypeOfClass</p>
                <a class="card-link"
                   asp-area="" asp-controller="ScheduleSubjectsClasses" asp-action="TeacherSchedule" asp-route-id="@subjectClass.SubjectClassId">Schedule</a>
                <a class="card-link"
                   asp-area="" asp-controller="Lessons" asp-action="All" asp-route-id="@subjectClass.SubjectClassId">Lessons</a>
                <a class="card-link"
                   asp-area="" asp-controller="SubjectsClasses" asp-action="Students" asp-route-id="@subjectClass.SubjectClassId">Students</a>
            </div>
        </div>
    }
</div>