@model EDiary.Web.ViewModels.Teachers.Marks.OutputViewModels.AllStudentMarksViewModel
@using EDiary.Data.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Marks";
    var counter = 0;
    var userId = this.UserManager.GetUserId(this.User);
}

@if (Model.Marks.Count() == 0)
{
    <h2 class="text-center text-danger">Sorry but the student doesn't have any marks yet.</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Student Name</th>
                <th scope="col">Name of Exam</th>
                <th scope="col">Score</th>
                <th scope="col">Teacher Name</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mark in Model.Marks)
            {
                <tr>
                    <th scope="row">@(++counter)</th>
                    <td>@mark.StudentFirstName @mark.StudentLastName</td>
                    <td>@mark.NameOfExam</td>
                    <td>@mark.Score</td>
                    <td>@mark.SubjectClassTeacherTeacherFirstName @mark.SubjectClassTeacherTeacherLastName</td>
                    <td>
                        @if (userId == @mark.SubjectClassTeacherTeacherId)
                        {
                            <a class="btn btn-success"
                               asp-area="" asp-controller="Marks" asp-action="Edit" asp-route-id="@mark.Id">
                                Edit
                            </a>
                            <a class="btn btn-danger"
                                asp-area="" asp-controller="Marks" asp-action="Delete" asp-route-id="@mark.Id">
                                Delete
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}